{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
<div class="container">
  <h1 class="display-1">Hello Everyone!</h1>
  <p class="lead">Welcome to my Academy.. I am Pratheepa!!!</p>
  <img src="{% static 'main/images/balans-balletdanser-balletschoenen-bomen-1886694.jpg' %}" width="200" height="200">
  <img src="{% static 'main/images/OIP.jpg' %}" width="200" height="200">
  <img src="{% static 'main/images/R.jpg' %}" width="200" height="200">
  <img src="{% static 'main/images/wp3240954.jpg' %}" width="200" height="200">
  <hr class="my-5">
  <p>I'am a good dancer.</p>
    <p>Life is Better ~~..when you..~~ dance.</p>
    <p>**~~ Dance an artist sport that combines music & movement to tell a story or show an Emotion ~~**</p>
    <p>HAPPINESS IS ...finding the perfect dance.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Lern more</a>
  <br>
  <br>
</div>
{% endblock%}
