{% extends 'main/base.html'%}
{% load static %}

{% block content %}
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('https://t3.ftcdn.net/jpg/02/67/48/50/360_F_267485074_re9Ri5EBFEGb0aE04pRMMXumQLG1aDyI.jpg');
    height: 60vh;
  "
>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1 class="text-white mb-0">Pricing Plans</h1>
    </div>
  </div>
</div>
<!-- Background image -->
<br>
<br>
<section id="pricing" class="pricing-content section-padding">
	<div class="container">					
		<div class="section-title text-center">
		</div>				
		<div class="row text-center">									
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">		
							<h2>Arabic Designs</h2>
							<h1>1000</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands</b> 1000</li>
							<li><b>one hand</b> 500</li>
							<li><b>eleghant designs</b></li>
							<li><b>unique designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
					</div>
				</div>
			</div><!--- END COL -->	
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">		
							<h2>Front Hand Design</h2>
							<h1 class="price">1500</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands</b> 1500</li>
							<li><b>one Hand</b> 750</li>
							<li><b>Eleghant Designs</b></li>
							<li><b>Unique Designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
					</div>
				</div>
			</div><!--- END COL -->	
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">		
							<h2>Back Hand Designs</h2>
							<h1 class="price">1200</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands </b> 1200</li>
							<li><b>One Hand</b> 600</li>
							<li><b>Eleghant Designs</b></li>
							<li><b>Unique Designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
					</div>
				</div>
			</div><!--- END COL -->

						<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">
						<br>
						<br>		
							<h2>Tradittional Designs</h2>
							<h1 class="price">12,000</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands</b> 12,000</li>
							<li><b>one Hand</b> 6000 </li>
							<li><b>Eleghant Designs</b></li>
							<li><b>Unique Designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
					</div>
				</div>			  
		</div><!--- END ROW -->
		<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">
						<br>
						<br>		
							<h2>Bridal Designs</h2>
							<h1 class="price">15000</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands</b> 15000</li>
							<li><b>one Hand</b> 7500</li>
							<li><b>Eleghant Designs</b></li>
							<li><b>Unique Designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
					</div>
				</div>
			</div><!--- END COL -->
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">
						<br>
						<br>		
							<h2>Leg Designs </h2>
							<h1 class="price">5000</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands </b> 5000</li>
							<li><b>One Hand</b> 2500</li>
							<li><b>Eleghant Designs</b></li>
							<li><b>Unique Designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
					</div>
				</div>
			</div><!--- END COL -->	
			<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">
						<br>
						<br>		
							<h2>Western Design</h2>
							<h1 class="price">3000</h1>
							<span>/per person</span>
						</div>
						<ul>
							<li><b>Two Hands</b> 3000</li>
							<li><b>one Hand</b> 1500</li>
							<li><b>Eleghant Designs</b></li>
							<li><b>Unique Designs</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
						<br>
						<br>
					</div>
				</div>
			</div><!--- END COL -->	
				<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">
						<br>
						<br>		
							<h2>Organic Henna</h2>
							<h1 class="price">50</h1>
							<span>/per cone</span>
						</div>
						<ul>
							<li><b>chemical less</b></li>
							<li><b>Natural Color</b></li>
							<li><b>10 cone cost = 400 </b></li>
							<li><b>Easy to use</b></li>
						</ul>
						<div class="pricing-price">
							
						</div>
						<a href="/contact" class="price_btn">Order Now</a>
						<br>
						<br>
					</div>
				</div>
			</div><!--- END COL -->	
	</div><!--- END CONTAINER -->
</section>

{% endblock %}